# Enable rewriting
RewriteEngine On

# Set the default index file
DirectoryIndex index.php

# Redirect all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
